/* JG */
h1 {
    text-align: left;
    text-shadow: 2px 1px black;
    z-index: -1;
    margin-left: 32px;
    font-weight: 500;
    font-size: 50px;
}

/* about me background-image, mountains */
img {
    max-width: 90%;
    max-height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

/* nav bar */
.nav {
    text-decoration: none;
    color: cornflowerblue;
}

/* nav bar list */
li {
    list-style-type: none;
    display: inline;
    float: right;
    padding: 20px;
}

body,
html {
    height: 100%;
}

/* about me background-image, mountains */
.container {
    position: relative;
    text-align: center;
    color: black;
}

/* about me on background-image */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px white;
}

/* paragraph */
 p {
    line-height: 1.6;
    letter-spacing: 1px;
    margin: 2em 2em 2em 2em;
    text-align: center;
}

#nav {
    position: fixed;
    top: 0;
    width:100%;
    display: block;
    transition: top 0.8s;
}

#nav a {
    float: right;
    display: block;
    color: black; 
    font-size: 100px;
    text-decoration: none;
    margin: 2em 3em;
    font-size: 16px;
}

h3 {
    font-size: 50px;
}























